@import "bootstrap";

.user-picture  {
    height: 200px;
    width: 286px;
}

.user-default-image-show {
    height: 200px;
    width: 200px;
}

.user-default-image-index {
    height: 77px;
    width: 77px;
}

.user-index-td {
    padding-top: 26px;
}